body{
    padding-bottom: 50px;
    margin: 0;
    background-color: rgb(44, 43, 43);
    color: white;
}

header{
    padding: 10px;
    font-size: 120%;
    color: white;
    background-color: rgb(233, 95, 95);
}
a{
    text-decoration: none;
    color: black;
}


.dow div{
    padding: 10px;
    border-bottom: 2px solid blue;
    border-radius: 0px;
    font-size: 80%;
    margin-right: 10px;
    transition: 0.5s;
}
.dow div:hover{
    background-color: lightblue;
}
.reload-box{
    color: black;
}

@media all and (min-width:780px){
    header{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
    }
    header a{
        float: left;
    }
    header h2{
        display: inline-block;
    }
    .dow{
        float: right;
    }
    .reload-box{
        background-color: #f1f1f1;
        padding: 15px;
        width: 400px;
        margin: 20px auto;
        border-radius: 10px;
        text-align: center;
        font-size: 120%;
    }
}
@media all and (max-width:780px){
    header h2{
        text-align: center;
    }
}

