body{
    padding-bottom: 50px;
    margin: 0;
}

header{
    padding: 10px;
    font-size: 120%;
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}
.dow div{
    padding: 10px;
    border-bottom: 2px solid blue;
    border-radius: 0px;
    font-size: 80%;
    margin-right: 10px;
    transition: 0.5s;
}
.dow div:hover{
    background-color: lightblue;
}

@media all and (min-width:780px){
    header{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
    }
    header a{
        float: left;
    }
    header h2{
        display: inline-block;
    }
    .dow{
        float: right;
    }
}
@media all and (max-width:780px){
    header h2{
        text-align: center;
    }
}

