body{
  padding-bottom: 50px;
  margin: 0;
  background-color: rgb(44, 43, 43);
}

header{
  background-color: rgb(233, 95, 95);
  padding: 10px;
}
header h1{
  margin-top: 0;
}

.info{
  background-color: red;
  color: white;
  padding: 10px;
}

.value {
  margin: 10px;
  margin-left: 5px;
  padding: 15px;
  color: white;
  border-radius: 5px;
  font-size: 120%;
  transition: 0.5s;
}
.value:hover{
  color: aqua;
}
a{
  text-decoration: none;
  color: black;
}

.input-container {
  position: relative;
  width: 200px;
  margin-top: 30px;
  margin-left: 20px;
}
.input-container input {
  padding: 5px;
  font-size: 120%;
  width: 100%;
  border: 0;
  border-bottom: 2px solid aqua;
  color: white;
  background-color: rgb(44, 43, 43);
  outline-width: 0;
}
.input-container .placeholder {
  position: absolute;
  top: 8px;
  left: 8px;
  pointer-events: none;
  color: #999;
  transition: all 0.3s ease;
}
.input-container.input-active .placeholder {
  top: -10px;
  font-size: 10px;
}

@media (min-width:780px){
  .value{
    width: 300px;
  }
}
