body{
    margin: 0;
}

#loading {
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top:0;
    color: white;
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding-top: 30vh;
}
  
.input-container {
    position: relative;
    width: 200px;
    margin-top: 20px;
  }
  .input-container input {
    padding: 5px;
    font-size: 120%;
    width: 100%;
    border: 0;
    border-bottom: 2px solid blue;
    outline-width: 0;
  }
  .input-container .placeholder {
    position: absolute;
    top: 8px;
    left: 8px;
    pointer-events: none;
    color: #999;
    transition: all 0.3s ease;
  }
  .input-container.input-active .placeholder {
    top: -10px;
    font-size: 10px;
  }

  body{
    margin: 0;
}
.box{
    width: 300px;
    height: 200px;
    margin: auto;
    transition: height 0.3s;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.box.red{ background-color: red; color: white;}
.box.blue{ background-color: blue; color: white;}
.box.green{ background-color: green; color: white;}
.box.yellow{ background-color: yellow; color: black;}
.box.orange{ background-color: orange; color: black;}
.box .title{ margin-bottom: 200px;}
.box .close{ display: none; }
.box.open {
    position: fixed;
    z-index: 500;
    border-radius: 0;
    margin: 0;
    top:0;
    width: 100%;
    height: 100vh;
}
.box.open .close{ display: block; font-style: italic;}
.box.open .title{ margin-bottom: 10px; }
.box .title h2{ margin-top: 0; }
.box.open .title h1,
.box.open .title h2,
.box.open .title h3,
.box.open .title h4,
.box.open .title h5,
.box.open .title h6
{ margin-top: 10px; }
.content {
    padding: 20px;
}

@media all and (min-width:780px){
    .box{
        width: 600px;
    }
}
  