:root{
  --check-color:rgb(18, 209, 18); /* green */
  /* --check-color:rgb(0, 160, 253); blue */
}

body{
    margin: 0;
}

.reload-box{
    padding: 15px;
    width: 200px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    font-size: 120%;
}
a{
    text-decoration: none;
    color: black;;
}

.chose{
  display: inline-block;
}

.apple-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .apple-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .apple-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .sw2{
    background-color:var(--check-color)
  }
  
  .apple-switch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .apple-switch input:checked + .apple-switch-slider {
    background-color:var(--check-color);
  }
  
  .apple-switch input:focus + .apple-switch-slider {
    box-shadow: 0 0 1px var(--check-color);
  }
  
  .apple-switch input:checked + .apple-switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .apple-switch-slider {
    border-radius: 34px;
  }
  
  .apple-switch-slider:before {
    border-radius: 50%;
  }
  