body{
    margin: 0;
}
.card-motion{
    width: 300px;
    height: 200px;
    margin: auto;
    transition: height 0.3s;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;

    background: linear-gradient(135deg, rgba(255,255,255,0.3), rgba(255,255,255,0.3));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.card-motion.red{ background-color: red; color: white;}
.card-motion.blue{ background-color: blue; color: white;}
.card-motion.green{ background-color: green; color: white;}
.card-motion.yellow{ background-color: yellow; color: black;}
.card-motion.orange{ background-color: orange; color: black;}
.card-motion .title{ margin-bottom: 200px;}
.card-motion .close{ display: none; }
.card-motion.open {
    position: fixed;
    z-index: 500;
    border-radius: 0;
    margin: 0;
    top:0;
    width: 100%;
    height: 100vh;
}
.card-motion.open .close{ display: block; font-style: italic;}
.card-motion.open .title{ margin-bottom: 10px; }
.card-motion .title h2{ margin-top: 0; }
.card-motion.open .title h1,
.card-motion.open .title h2,
.card-motion.open .title h3,
.card-motion.open .title h4,
.card-motion.open .title h5,
.card-motion.open .title h6
{ margin-top: 10px; }
.content {
    padding: 20px;
}

@media all and (min-width:780px){
    .card-motion{
        width: 600px;
    }
}

header{
    padding: 10px;
    font-size: 120%;
}
a{
    text-decoration: none;
    color: black;
}
  