body{
    margin: 0;
}
.reload-box{
    background-color: #f1f1f1;
    padding: 15px;
    width: 200px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    font-size: 120%;
}
a{
    text-decoration: none;
    color: black;;
}

footer{
    bottom: 0px;
    width: 90vw;
    padding: 15px;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    display: flex;
    justify-content: center;   
    position: fixed; 
    background-color: lightblue;
    color: black;
}
 

