.input-container {
  position: relative;
  width: 200px;
  margin-top: 30px;
}
.input-container input {
  padding: 5px;
  font-size: 120%;
  width: 100%;
  border: 0;
  border-bottom: 2px solid blue;
  outline-width: 0;
}
.input-container .placeholder {
  position: absolute;
  top: 8px;
  left: 8px;
  pointer-events: none;
  color: #999;
  transition: all 0.3s ease;
}
.input-container.input-active .placeholder {
  top: -10px;
  font-size: 10px;
}

:root{
  --bg-color: #7fdd7780;
  --footer-color: linear-gradient(135deg, rgba(255,255,255,0.3), rgba(255,255,255,0.3));
  --footer-tx-color: black; 
  --hover-footer-color: linear-gradient(135deg, rgba(81, 255, 0, 0.518), rgba(6, 168, 249,0.7));
  --number-footer-values: 3;
}

body{
  margin: 0;
  padding-bottom: 100px;
  background-color: var(--bg-color);
  font-family: "Gill Sans", sans-serif;
}
footer{
  bottom: 0px;
  width: 96%;
  position: fixed; 
  margin: 2%;
  margin-bottom: 20px;
  color: black;
  text-align: center;
  border-radius: 15px;
}
.opzioni{
  display: grid;
  grid-template-columns: repeat(var(--number-footer-values), 33.3%);
}
.opzioni div{
  text-align: center;
  transition: 0.7s;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  color: black;
  /* margin: 5px; */
}
.opzioni div:hover, .footer-select{
  cursor: pointer;
  background: var(--hover-footer-color);
}
.all{
  background: var(--footer-color);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 80px 32px 0 rgba(0,0,0,0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 15px;
}

/* pc */
@media all and (min-width:780px) {
  .all{
      width: 50%;
      margin:auto;
  }
  .reload-box{
      width: 500px;
  }
}