body{
    margin: 0;
}

#loading {
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top:0;
    color: white;
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding-top: 30vh;
}

.reload-box{
    background-color: #f1f1f1;
    padding: 15px;
    width: 200px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    font-size: 120%;
}
a{
    text-decoration: none;
    color: black;;
}
  