:root{
    --bg-color: lightblue;
    --footer-color: linear-gradient(135deg, rgba(255,255,255,0.3), rgba(255,255,255,0.3));
    --footer-tx-color: white; 
    --hover-footer-color: blue;
    --number-footer-values: 3;
}

body{
    margin: 0;
    padding-bottom: 100px;
    background-color: var(--bg-color);
    font-family: "Gill Sans", sans-serif;
}
footer{
    bottom: 0px;
    width: 96%;
    position: fixed; 
    margin: 2%;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    border-radius: 15px;
}
.opzioni{
    display: grid;
    grid-template-columns: repeat(var(--number-footer-values), 33.3%);
}
.opzioni div{
    text-align: center;
    transition: 0.7s;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    color: black;
    /* margin: 5px; */
}
.opzioni div:hover, .footer-select div{
    cursor: pointer;
    color:var(--footer-tx-color);
    background: var(--hover-footer-color);
}
a{
    border-radius: 10px;
    text-decoration: none;
    margin: 5px;
}
.all{
    background: var(--footer-color);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 80px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 15px;
}

.reload-box{
    background-color: #f1f1f1;
    padding: 15px;
    width: 200px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    font-size: 120%;
}

/* pc */
@media all and (min-width:780px) {
    .all{
        width: 50%;
        margin:auto;
    }
    .reload-box{
        width: 500px;
    }
}